body {
	background-color: rgb(35, 35, 35);
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	height: 100%;
	margin: 20px auto;
}

.square {
	width: 35%;
	height: 25%;
	background: cyan;
	padding-bottom: 15%;
	padding-top: 20px;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.3s;
	font-weight: 400;
	font-size: 25px;
	color: rgb(0, 0, 51);
	text-align: center;

}

.header {
	color: white;
	font-weight: normal;
	text-align: center;
	line-height: 1.1;
	text-transform: uppercase;
	/*background: steelblue;*/
	background: linear-gradient(to right, rgb(17, 89, 168), rgb(76, 208, 104));
	margin: 0;
	padding: 2px 0;
}

.header h3 {
	text-transform: none;
}

.fas {
	color: rgb(234, 222, 159);
}

#attention {
	font-size: 25px;
	color: rgb(234, 222, 159);
	transition: all 0.1s;
}

#click {
	margin-bottom: 5%;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.2s;
	outline: none;
}

#switch-background {
	align-self: flex-start;
	margin-top: 10%;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.2s;
	outline: none;
}

.light {
	background: rgb(224, 224, 224);
}

#click:hover {
	color: white;
}

#click:active {
	color: steelblue;
}

#switch-background:hover {
	color: white;
}

#switch-background:active {
	color: steelblue;
}

#attention:hover {
	color: yellow;
}

#attention:active {
	/*color: rgb(234, 222, 159);*/
	color: gray;
}

